
{
  "machine": { "gpu": 1, "cpu": 8000, "ram": 16000 },
  "gpus": [{ "vram": "24Gb" }]
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "Entrypoint": [
          "more ", 
          "/inputs/",
          {{ .file }}
        ],
        "Image": "ubuntu"
      },
      "Engine": "Docker",
      "PublisherSpec": { "Type": "IPFS" },
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "inputs": [ { "StorageSource": "IPFS", "Name": "inputs", "CID": {{.InputsCID}}, "path": "/inputs" },
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}



























