{

  "machine": {

    "gpu": 0,

    "cpu": 1000,

    "ram": 100

  },

  "job": {

    "APIVersion": "V1beta1",

    "Spec": {

      "Deal": {

        "Concurrency": 1

      },

      "Docker": {

        "Entrypoint": [

          "/bin/sh",

          "-c",

          "echo \"$MESSAGE\""

        ],

        "EnvironmentVariables": [

          {{ if .Message }}"{{ subst "MESSAGE=%s" .Message }}"{{else}}"Message=Hello Dell World"{{ end }}

        ],

        "Image": "ubuntu"

      },

      "Engine": "Docker",

      "Network": {

        "Type": "None"

      },

      "PublisherSpec": {

        "Type": "IPFS"

      },

      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "0", "CPU": "8", "Memory": "16Gb" },
      },

      "Timeout": 1800,

      "Verifier": "Noop"

    }

  }

}



